In [ ]:
"""
Q1. What is a database? Differentiate between SQL and NoSQL databases.
Ans: The collection of related data that exits over long perid time is database.
      Ex: Real world enterprise.
          Online banking banking system.
          library management system.
          
mySql
1.It iis relational database in nature.
2. This module is based on concept of tbale.
3. Being relationl in nature tough task to scale big data.
4. sql is standard language.

Nosql
1. A non-relational database in nature.
2. Modeled based on the concept of document.
3. Easily scalable bigdata as compare to relational.
4. Lake of standerd query language.

In [ ]:
"""
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans: It is data defination language which we create structure and table.not in data.
     
     CREATE: create keyword is used to create structure for table.
             CREATE TABLE STUDENT(
             NAME VARCHAR(10) PRIMARY KEY,
             ROLL_NUM NUMBER(4) NOT NULL,
             COLLEGE_NAME VARCHAR(20) NOTNULL
             );
     DROP: it is used to delete table.
           DROP STUDENT;
     ALTER: it is used to alter table like add column, remove column, add contraints, Remove constraints, rename column,
           ALTER TABLE STUDENT RENAME TO STS;
     
     TRUNCATE : It delete whole data in one sort, not even log exist in backend.
               TRUNCATE STUDENT;

In [ ]:
"""
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ANS: Data manipulation language which works in data inside relation.
    like update the existing data, insert data, delete data.
    
    Insert: This command is used to insert data in relation.
           INSERT INTO student values ("abishek", "23", "The british college")
    Updata: This command is used to update existing data inside relation.
           UPDATE TABLE STUDENT SET NAME="ABHIK" WHERE NAME='Abishek' AND ROLL_NUM=1;
           
    DELETE: This command delete existing data inside realtion.
           DELETE FROM STUDENT WHERE ROLL_NUM=3;

In [1]:
"""
Q4. What is DQL? Explain SELECT with an example.
ans: Data query language which help us to feth organise from relation based on our condition.
    SELECT * FROM STUDENT;

In [2]:
"""
Q5. Explain Primary Key and Foreign Key.
Ans:
primary key.
The key which uniquly indentify the tupel in relation is primary key.
it cannot be null.
we can make column primary key using PRIMARY KEY keyword.

Foreign key.
1. The key which give reference to another relation in ralation is foreign key.
2. foreign is primary key of another relation.
3. foreign key must existing data of another relation.

In [3]:
"""
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Ans: 
import mysql.connector
connStr.my.connection.connect(
host='loaclhost'
user='abc'
password='password'
)
print(connstr)
# cursor=connstr.cursor()

Cursor(): It is variable that runs through the result of a SELECT, row by row.
execute(): execute function execute the python code pass as a string.

In [ ]:
"""
Q7. Give the order of execution of SQL clauses in an SQL query.

Ans: The order of execution of sql clauses are 
    1. WHERE
    2. GROUP BY
    3. HAVING
    4. ORDER BY.