In [1]:
'''1. Explain with example when each when to use for loop and while loop.
ANS: Baically for loop is used when we know condition and execuation time of task
'''
#example:
for i in range(1,5):
    print("*")

*
*
*
*

In [5]:
# and while loop is use when we need to stop the loop based on condition no matter how many time it itrate.
#examle:
num=1
while num<10:
    print(num)
    num=num+1

1
2
3
4
5
6
7
8
9

In [10]:
# 2. Sum and profuct of first 10 natural number .
num=0
add=0
prd=1
while num<10:
    # for addition
    add=add+num
    num=num+1 
    #for multiplation.
    prd=prd*num
print("The sum of first 10 natural number: ",add)
print("The product od first 10 natural number: ", prd )

The sum of first 10 natural number:  45
The product od first 10 natural number:  3628800

In [6]:
# 3.Create a python program to compute the electicity bill for a household.
unity_of_electicty=float(input("Enter the unity of electricity: "))

if unity_of_electicty <=100:
    amount=unity_of_electicty*4.5
    print(amount)
if unity_of_electicty >100 and unity_of_electicty<200:
    rem=unity_of_electicty%100
    amount1=rem*6
    amount2=100*4.5
    total_amount=amount1+amount2
    print("Total electicty bill: ",total_amount)
if unity_of_electicty >200 and unity_of_electicty<300:
    rem1=unity_of_electicty%200
    amount3=100*4.5
    amount4=100*6
    amount5=rem1*10
    total_amount2=amount3+amount4+amount5
    print(total_amount2)
if unity_of_electicty >300:
    rem2=unity_of_electicty%300
    amount6=100*4.5
    amount7=100*6
    amount8=100*10
    amount9=rem2*20
    amount10=amount6+amount7+amount8+amount9
    print("Total Electricty bill: ", amount10)

Enter the unity of electricity:  310

Total Electricty bill:  2250.0

In [38]:
#4
l1=list(range(100))
l2=[]
l3=[]
for i in l1 :
    l2.append(i**3)
print("Cube of number: ",l2)
for i in l2:
    if i%4 or i%5 ==0:
        l3.append(i)
print("\nNumber divided by 4 or 5: ",l3)

Cube of number:  [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299]

Number divided by 4 or 5:  [0, 1, 27, 125, 343, 729, 1000, 1331, 2197, 3375, 4913, 6859, 8000, 9261, 12167, 15625, 19683, 24389, 27000, 29791, 35937, 42875, 50653, 59319, 64000, 68921, 79507, 91125, 103823, 117649, 125000, 132651, 148877, 166375, 185193, 205379, 216000, 226981, 250047, 274625, 300763, 328509, 343000, 357911, 389017, 421875, 456533, 493039, 512000, 531441, 571787, 614125, 658503, 704969, 729000, 753571, 804357, 857375, 912673, 970299]

In [43]:
#5.
string="I want to become data scientist"
count=0
for i in string:
    if i=="a" or i=='A' or i=='e' or i=='E' or i=='I' or i=='i' or i=='o' or i=='O' or i=='U' or i=='u':
        count=count+1
print("Total vowel number found: ",count)

Total vowel number found:  11