In [ ]:
#*****************Assigment 2 *************************

In [2]:
# 1
mark=int(input("Enter your mark: "))
if mark>90 and mark<=100:
    print("A")
elif mark >80 and mark <=90:
    print("B")
elif mark >=60 and mark<=80:
    print("C")
else:
    print("D")

Enter your mark:  70

C

In [5]:
cp_bike=int(input("Enter the cost price of bike: "))
if cp_bike > 100000:
    print("15% tax")
elif cp_bike >50000 and cp_bike <=100000:
    print("10% tax")
else:
    print("5% tax")

Enter the cost price of bike:  80000

10% tax

In [ ]:
city_name=input("Enter name of city: ")
if city_name=='Delhi' or city_name== 'delhi':
    print("Red fort")
if city_name== 'Agra' or city_name=='agra':
    print("Taj Mahal")
if city_name=='Jaipur' or city_name == 'jaipur':
    print("jal mahal")

In [1]:
i=10
while i>0:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [10]:
k=1
for i in range(0,5):
    for j in range(0,k):
        print("*",end=' ')
    k=k+1
    print()

*
* *
* * *
* * * *
* * * * *

In [12]:
for i in range(0,5):
    for j in range(0,5):
        print("*",end='')
    print()

*****
*****
*****
*****
*****

In [16]:
for i in range (0,5):
    num=1
    for j in range(0, i+1):
        print(num, end='')
        num=num+1
    print()

1
12
123
1234
12345